  <!-- About -->
  <section class="page-section" id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">About Us</h2>
          <h3 class="section-subheading text-muted">Somos Hitmarker</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <ul class="timeline">
            <li>
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="template/img/about/1.jpg" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>2019</h4>
                  <h4 class="subheading">Nuestros inicios</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Hitmarker inicio como una idea de vender videojuegos, se inicio con ventas por medio de facebook y luego se penso en una pagina web que nos facilitara el proceso de vender lo que nos facina los video juegos.</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="template/img/about/2.jpg" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>Octubre</h4>
                  <h4 class="subheading">Hitmarker Online Store en la web </h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Gracias a la ayuda de muchas personas pudimos hacer el levantamiento de nuestra primera pagina web con la que podremos realizar nuestra labor con mas facilidad</p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="template/img/about/3.jpg" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>Noviembre</h4>
                  <h4 class="subheading">Cambios y aprendizaje</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Muchos de los que trabajamos en hacer esta pagina web somos programadores novatos, pero creemos en nosotros mismos y sabemos que con un poco de esfuerzo se puede lograr cualquier meta y que nunca debes dejar de aprender</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="template/img/about/4.jpg" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>Noviembre 27</h4>
                  <h4 class="subheading">El ultimo esfuerzo</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Los tropiesos son algo que no se pueden evitar cuando eres humano, tener errores es ser humano pero uno no debe de quedarse con los errores ya que ser humano tambien es encontrar soluciones </p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <h4>Gracias
                  <br>Por
                  <br>Todo!</h4>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>