  <!-- Footer -->
  <footer class="footer">
    <div class="container">
      <div class="row align-items-center" style="justify-content: center;">
        <div class="col-md-4">
          <span class="copyright">Copyright &copy; Hitmarker 2019</span>
          <p>Trabajo realizado con fines academicos </p>
        </div>
      </div>
    </div>
  </footer>