<!DOCTYPE html>
<html>
	<head>
		<title>Shopping Cart</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<<<<<<< HEAD
		<link rel="stylesheet" type="text/css" href="template2/css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="template2/css/custom.css"/>
		<link href="template/css/all.min.css" rel="stylesheet" type="text/css">
=======
		<link rel="stylesheet" type="text/css" href="../template2/css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="../template2/css/custom.css"/>		
>>>>>>> 124c3d64e9a73a58180f28a90ea3765a1485842d
	</head>

	<body>
	<div id ="app">
		<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    		<div class="container">
    			<a class="navbar-brand js-scroll-trigger" href="#page-top">Hitmarker</a>
        			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        			Menu
        		<i class="fas fa-bars"></i>
      		</button>
      		<div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#services">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#portfolio">Articulos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#team">Help</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/carro">Carro</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/perfil">Perfil</a>
          </li>
        </ul>
      </>
    </div>
  </nav>
	</div>
		
		<div class="container-fluid breadcrumbBox text-center">

		</div>
		
		<div class="container text-center">

			<div class="col-md-5 col-sm-12">
				<div class="bigcart">
					<img src="template2/img/sprite.png" alt="">
				</div>
				<h1>Tu carro de compra</h1>
				<p>
					¿Login aqui?
				</p>
			</div>
			
			<div class="col-md-7 col-sm-12 text-left">
				<ul>
					<li class="row list-inline columnCaptions">
						<!--<span>QTY</span>-->
						<span>ITEM</span>
						<span>Price</span>
					</li>
					<li class="row">
						<!--<span class="quantity">1</span>-->
						<span class="itemName">Birthday Cake</span>
						<span class="popbtn"><a class="arrow"></a></span>
						<span class="price">$49.95</span>
					</li>
					<li class="row">
						<!--<span class="quantity">50</span>-->
						<span class="itemName">Party Cups</span>
						<span class="popbtn"><a class="arrow"></a></span>
						<span class="price">$5.00</span>
					</li>
					<li class="row">
						<!--<span class="quantity">20</span>-->
						<span class="itemName">Beer kegs</span>
						<span class="popbtn"><a class="arrow"></a></span>
						<span class="price">$919.99</span>				
					</li>
					<li class="row">
						<!--<span class="quantity">18</span>-->
						<span class="itemName">Pound of beef</span>
						<span class="popbtn"><a class="arrow"></a></span>
						<span class="price">$269.45</span>
					</li>
					<li class="row">
						<!--<span class="quantity">1</span>-->
						<span class="itemName">Bullet-proof vest</span>
						<span class="popbtn"  data-parent="#asd" data-toggle="collapse" data-target="#demo"><a class="arrow"></a></span>
						<span class="price">$450.00</span>				
					</li>
					<li class="row totals">
						<span class="itemName">Total:</span>
						<span class="price">$1694.43</span>
						<span class="order"> <a class="text-center">ORDER</a></span>
					</li>
				</ul>
			</div>

		</div>

		<!-- The popover content -->

		<div id="popover" style="display: none">
			<!--<a href="#"><span class="glyphicon glyphicon-pencil"></span></a>-->
			<a href="#"><span class="glyphicon glyphicon-remove"></span></a>
		</div>
		
		<!-- JavaScript includes -->

		<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
		<script src="../template2/js/bootstrap.min.js"></script>
		<script src="../template2/js/customjs.js"></script>

	</body>
</html>